<!DOCTYPE html>
<html>
   <% include ../partials/head.ejs %>
  <body>
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
      <div class="show-card-container">
        <h1>Snackz Show Page</h1>
        <div class="center-align">
          <div class="card large">
            <div class="card-image">
              <img src="<%=snack.img%>" alt="you cannot see the snack"></br>
              <span class="card-title grey-text text-darken-4"><%=snack.snacker%></br></br></span>
            </div>
            <div class="card-content">
                Continent: <%=snack.continent%>
                Snack: <%=snack.snack%> </br>
                Description: <%=snack.description%></br>
                <!-- Snacker: <%=snack.snacker%></br> -->
              <% if (snack.like > 0) { %>
                <form action="/snackz/like/<%=snack._id;%>?_method=PUT" method="POST">
                  <input class="waves-effect waves-light btn" type="submit" value="LIKE">
                </form>
                  <% } else { %>
                  Be the first to like!
                <% } %>
              <form action="/snackz/<%=snack._id; %>?_method=DELETE" method="POST">
                <input class="waves-effect  red darken-1 btn" type="submit" value="X"/>
              </form>
              <a class="waves-effect waves-light btn-small" href="/snackz/<%=snack.id; %>/edit"><i class="material-icons left">edit</i>Edit</a>
            </div>
          </div>
      </div>
    </div>
  </body>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">More from Snackz on Snacks</h5>
              <p class="grey-text text-lighten-4">Make sure you're not left out from all things snackz on snacks. </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Pod Cast</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Events </a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Join Team</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Next Snack Highlight</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Next Destination</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
  </footer>
</html>
