<!DOCTYPE html>
<html>
   <% include ../partials/head.ejs %>
  <body>
    <h1>Snackz Show Page</h1>
    <div  class="center-align">
      <ul>
        <li class="showList">
          <img class="contentPic" src="<%=snack.img%>" alt="you cannot see the snack"> </br>
          Continent: <%=snack.continent%> </br>
          Snack: <%=snack.snack%> </br>
          Snacker: <%=snack.snacker%> </br>
          Description: <%=snack.description%></br>
        </li>
      </ul>
      <!--buy button  -->
      <% if (snack.like > 0) { %>
        <form action="/snackz/like/<%=snack._id;%>?_method=PUT" method="POST">
              <input type="submit" value="LIKE">
        </form>
          <% } else { %>
          Be the first to like!
        <% } %>
      <form action="/snackz/<%=snack._id; %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
      <a href="/snackz/<%=snack.id; %>/edit">Edit</a>
    </div>
  </body>
</html>
