<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Snackz Show Page</h1>
    <div class="show-snackz">
      <ul>
        <li class="showList">
          <img class="contentPic" src="<%=snack.img%>" alt="you cannot see the snack"><br>
          Continent: <%=snack.continent%><br>
          Snack: <%=snack.snack%><br>
          Snacker: <%=snack.snacker%><br>
          Description: <%=snack.description%><br>
        </li>
      </ul>
    </div>
  </body>
</html>
